#newCheapContainer input, #descricao{
    border-radius: 2px;
    border: 1px solid #29313D;
}

#newCheapContainer #nome, #descricao {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

#newCheapContainer input:focus, #descricao:focus {
    box-shadow: none;
}

#newCheapContainer #descricao {
    height: 10px;
}

#newCheapContainer label {
    font-family: Verdana;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.feedback{
    padding-left: 20px;
    margin-top: 5px;
    width: 10px;
}

.feedback .bi-exclamation-circle {
    color: red;
}

#newCheapContainer #span-link {
    border-radius: 2px 0px 0px 2px;
    border: 1px solid #29313D;
    background: #023031;
    padding:0px 20px;
}
#newCheapContainer #icon-link {
    color: #ffff;
}


#newCheapContainer select {
    border-top: none;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-color: rgba(61, 73, 92, 1);
}

#newCheapContainer select:focus {
    box-shadow: none;
}

#newCheapContainer #Super-trunfo:checked{
   background-color: rgba(3, 107, 82, 1);
}


#newCheapContainer button {
    background-color: rgba(47, 193, 140, 1);
    border: 1px solid rgba(47, 193, 140, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    padding: 8px 50px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    transition: .5s;
}

#newCheapContainer button:hover {
    background-color: rgb(5, 106, 71);;
}

@media screen and (min-width: 768px) {
    #checkBox-button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #checkBox-button-container .form-check {
        width: 50%;
    }

    #checkBox-button-container button {
        padding: 8px;
        width: 30%;
    }
}


#pontos-restantes {
    color: var(--gray-700, #3D495C);
    font-family: Verdana;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

